{% extends 'base.html.twig' %}

{% block title %}Votre Personnalité!
{% endblock %}

{% block body %}

	<body>
		<p>{{personality.personalityPicture}}</p>
		<p>{{personality.description}}</p>

	</body>
{% endblock %}
