<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>

    <!-- Fontawesome Library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--Typography-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
    </style>

    <!--Link CSS-->
    <link rel="stylesheet" href="assets/css/design-system.css">
    <link rel="stylesheet" href="assets/css/questionnaire.css">

</head>

<body id="test02">
    <main>
        <div class="container ">
            <div class="row">
                <div class="col-5 signup-section">
                    <div class="page-number d-flex justify-content-end">
                        <p class="page-counter">2 sur 2</p>

                    </div>

                    <!--Title -->
                    <div class="text-center">
                        <h3>Quel AmisGo es-tu ?</h3>
                    </div><br />

                    <!--Form section-->
                    <form action="" method="post">

                        <!--Question section-->
                        <div class="">
                            <label for="">
                                <h5 class="question-title">1 - Ton ryhtme de vie est :</h5>
                            </label><br />

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Casanier et routinier
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    à 100 km/h car tu aimes tout contrôler
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Carpe diem, tu vis au jour le jour
                                </label>
                            </div>


                        </div><br />

                        <!--Question section-->
                        <div class="">
                            <label for="">
                                <h5 class="question-title">2 - Tu vois une araignée dans ta chambre ...</h5>
                            </label><br />

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Je me bats contre elle
                                </label>
                            </div>


                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    J’appelle quelqu’un
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Je suis celui qu’on appelle
                                </label>
                            </div>
                        </div><br />

                        <!--Question section-->
                        <div>
                            <label for="">
                                <h5 class="question-title">3 - Tu as un rendez-vous important mais tu es dans les
                                    bouchons :</h5>
                            </label><br />

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Tu appelles pour prévenir de ton retard
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Tu reportes ton Rendez-vous à un autre jour
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Tu laisses ta voiture sur la route et tu décides de courir
                                </label>
                            </div>
                        </div><br />

                        <!--Question section-->
                        <div>
                            <label for="">
                                <h5 class="question-title">3 - Tes vacances de rêve seraient...</h5>
                            </label><br />

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    A la mer, pour se baigner et bronzer
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    A la campagne, pour se reposer et s’amuser
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    N’importe où, pour découvrir et partir à l’aventure
                                </label>
                            </div>
                        </div><br />

                        <!--Send section-->
                        <div class="text-center">
                            <input type="submit" value="Voir mon résultat" class="btn">
                        </div>
                    </form>

                </div>

            </div>


        </div>


    </main>
    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>