body{
    background: linear-gradient(93.76deg, #FC6B76 21.48%, #FA985A 100%);

}


.signup-container{
    margin-left: -1rem;
    text-align: start;
    align-items: center;
}

.form-container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.img-container{
    text-align: center;
    align-items: center;
}

.password-container{
    position: relative;
}

.password-container i{
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
}


.input-form{
    align-items: center;
    border-radius: .5rem;
    border: none;
    background-color: rgb(220, 220, 220);
    margin-bottom: 1rem;
    padding-left: 1rem;
    height: 2rem;
    width: 100%;
}

.input-name{
    text-align: center;
    margin-bottom: 1rem;
    justify-content: space-between;
}

#registration_form_name{
    border-radius: .5rem;
    border: none;
    background-color: rgb(220, 220, 220);
    height: 2rem;
    width: 48%;
    padding-left: 1rem;


}

#registration_form_firstname{
    border-radius: .5rem;
    border: none;
    background-color: rgb(220, 220, 220);
    height: 2rem;
    width: 48%;
    padding-left: 1rem;


}

.signup-section{
    background-color: whitesmoke;
    border-radius: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: start;
}

.input-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    text-align: center;

}

.section-title{
    margin-bottom: 1rem;
}

.dob-section{
    padding-bottom: 2.5rem;
}

.gender-section{
    align-items: center;
    padding-bottom: 2.5rem;
}

.location-section{
    padding-bottom: 2.5rem;
}

.form-check-cgu{
    text-align: center;
    padding-bottom: 2rem;
}

.form-check-cgu label{
    align-items: center;
    font-family: 'Karla';
    font-size: .8rem;
    font-weight: normal;
}

.btn{
    text-align: center;
    color: #FFFFFF; 
    background: linear-gradient(93.76deg, #FC6B76 21.48%, #FA985A 100%);
    padding: 1rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}

.btn:hover{
    color: rgb(89, 52, 52);
}