.container_quiz{
    background-image: url(../img/test-bg01.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
}

#test02 {
    background-image: url(../img/test-bg02.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}


.signup-section {
    background-color: var(--blanc);
    border-radius: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    margin: auto;
}

.page-counter {
    font-family: 'Karla';
    font-size: .8rem;
    font-weight: normal;

}

.question-title {
    font-family: 'Montserrat';
    font-style: medium;
    font-size: .9rem;
    margin-bottom: .6rem;

}

label {
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .3rem;

}

.btn {
    background: linear-gradient(93.76deg, #FC6B76 21.48%, #FA985A 100%);
    border-radius: 1.2rem;
    border: none;
    color: var(--blanc);
    justify-content: center;
    align-items: center;
    padding: .8rem 3rem;
}