/******************************
INDEX CSS START
******************************/

/*************HEADER START*********/

/********************Hero Shot******************/
#homepage .section-top {
    background-image: url(../img/heroshot-home.jpg);
    background-size: cover;
    background-position: bottom;


}

#homepage #decouvrir{
    text-align: left;
}
/*************HEADER END*********/


/*************MAIN START*********/
#content-container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    max-width: 100%;
    flex: 0 0 100%;
}

.icon-background {
    background-color: #fff;
    padding: 3px;
    border-radius: 20px;
    max-width: 36px;
    flex: 0 0 36px;
}

.icon-background img {
    height: 30px;
    max-width: 30px;
}

.activity-title {
    max-width: calc(100% - 36px);
    flex: 0 0 calc(100% - 36px);
    padding-right: 36px;
    font-size: 20px;
}
/********************Barre de recherche******************/
#homepage #rechercher{
    display: inline;
}

/*************MAIN END*********/



/******************************
INDEX CSS END
******************************/